BOT_TOKEN=your-telegram-bot-token
ADMIN_CHAT_ID=123456789
CHANNEL_ID=@your_channel_or_-100...
PORT=3000

POSTGRES_URL=localhost
REDIS_URL=redis://localhost:6379

COURSE_LINK=https://docs.google.com/course
UPLOADS_DIR=./uploads
NODE_ENV=development
